<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_robotiq">
  
  <xacro:include filename="$(find icra19)/description/panda_robotiq_connector_joint.xacro"/>
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro"/>
  <xacro:panda_robotiq_connector/>
</robot>
